<div class="wrapper">
    <div class="list-grid">
        <second-pass-pizzas-list
            [pizzas]="pizzas$ | async"
            (selected)="selectPizza($event)"
            (deleted)="removePizza($event)">
        </second-pass-pizzas-list>
    </div>

    <div class="details-grid">
        <second-pass-pizza-details
            [group]="form"
            [pizza]="selectedPizza$ | async"
            (submitted)="savePizza($event)"
            (cancelled)="reset($event)">
        </second-pass-pizza-details>
    </div>
</div>
